body {
  background-color: #444;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto";
  padding-top: 5%;
  word-wrap: break-word;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
}

.wallet-info {
  width: 50%;
}

.blocks {
  width: 60%;
  min-width: 500px;
  margin: 0 auto;
}

.block {
  border: 1px solid #fff;
  padding: 2% 0;
  margin: 1%;
}

.transaction {
  padding: 2%;
}

.nav-bar {
  ul {
    display: flex;
    position: fixed;
    top: 30px;
    li {
      list-style-type: none;
      margin: 2px 4px;
      padding: 2px 6px;
      font-size: 20px;
      background-color: #fff;
      border-radius: 3px;
    }
  }
}

.conduct-transaction {
  margin: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .form {
    width: 90%;
  }
  input {
    margin-bottom: 5px;
  }
}
